src/TxFlow/TxFlow.Debug.WFTracking/Connected Services/TxFlowDebugServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8071/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ActivityExecuted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowDefinitionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowInstanceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityID" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="variableValues" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivityExecutedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>